# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

.DS_Store

CBHelper/.settings/org.eclipse.cdt.core.prefs

sim/.project

sim/.trgtproject
